/* FlexBox */

.flex-end {
  display: flex;
  justify-content: flex-end;
}

/* Padding & Margin */

.padding-right {
  padding-right: 20px;
}

.padding-top-sm {
  padding-top: 10px;
}

.padding-top {
  padding-top: 20px;
}

.padding-top2 {
  padding-top: 30px;
}

.padding-top3 {
  padding-top: 40px;
}

.padding-top5 {
  padding-top: 70px;
}

.padding-bottom-sm {
  padding-bottom: 10px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-bottom3 {
  padding-bottom: 40px;
}

.padding-bottom5 {
  padding-bottom: 70px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-right {
  margin-right: 20px;
}

.flex-direction-column {
  flex-direction: column;
}

/* Image */

img {
  width: 100%;
}

/* Button Spacing */

.button-spacing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.group-buttons {
  width: 40%;
  margin: 5px;
}

/* Columns Suitable for Mobile Views */

.column-half {
  width: 80%;
}

/* Desktop Views */
@media screen and (min-width: 768px) {
  .container-fluid {
    max-width: inherit;
  }

  .column-half {
    width: 36%;
  }
}
